/* for navbar */
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #0d99ff;
    padding: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.LogoTitle{
    display: flex;
    flex-basis: 10vw;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    box-sizing: border-box;
}

.newJob{
    background-color:#0d99ff;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.logo{
    width: 48px;
    height: 48px;
    border: 1px solid white;
    margin: 0px 5px;
}

/* hovering */
.newJob:hover{
    background-color: #27a3fc;
    cursor: pointer;
}

.title{
    min-width: 7vw;
    font-size: 15px;
}




/* pop up form styling*/

.creouterbox {
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 40px;
gap: 23px;

position: absolute;
width: 700px;
height: 823px;
left: 673px;
top: 240px;

/* white */

background: #FFFFFF;
box-shadow: 0px 1px 130px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.1);
border-radius: 10px;
    z-index: 100;
}
.creinnerbox {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}
.closebutton {
    justify-content: center;
 
    width: 100px;
    margin-right: 20px;
    z-index: 100;
}
.submitbutton {
    justify-content: center;
  
    width: 100px;
    margin-right: 20px;
}
.buton{
    display: flex;
    flex-direction: row;
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    color: black;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
}




